/* CUSTOM PROPERTIES */

:root {
  --cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;
  --very-light-grey: #fafafa;
  --light-grey: #eaeaeb;
  --bright-red: #f43030;
}

/* FONTS */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-ThinItalic.woff2") format("woff2"),
    url("../fonts/PublicSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/PublicSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.woff2") format("woff2"),
    url("../fonts/Karla-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Bold.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
    url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--main-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--light-grey);
  font-family: "Public Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* PLACEHOLDER STYLE */

/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: var(--grey);
} */

/* AUTOFILL STYLES */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
} */

/* ELEMENT HIDER */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BTN PRIMARY */

.primary-btn {
  font-style: italic;
  font-weight: 250;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light-grey);
  max-width: 200px;
  width: 100%;
  display: inline-block;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  padding: 0;
  transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}
.primary-btn__img-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grayish-dark-blue);
  transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}
.primary-btn__img {
  width: 18px;
  height: 14px;
  color: var(--cyan);
}
.primary-btn__text {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}
.primary-btn:hover {
  background-color: var(--cyan);
}
.primary-btn:hover .primary-btn__img-wrapper {
  background-color: #56a292;
}
.primary-btn:hover .primary-btn__img {
  color: #fff;
}
.primary-btn:active {
  opacity: 0.6;
}

/* BTN PRIMARY DISABLED */

.btn--disabled,
.btn--disabled:hover {
  background-color: var(--very-light-grey);
}
.btn--disabled:hover .primary-btn__img-wrapper {
  background-color: var(--light-grey);
}
.btn--disabled .primary-btn__img-wrapper {
  background-color: var(--light-grey);
}
.btn--disabled .primary-btn__img {
  color: #fff;
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
  padding: 60px;
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
